[submodule "contracts/ckb-cheque-script/ckb-lib-secp256k1/ckb-production-scripts"]
	path = contracts/ckb-cheque-script/ckb-lib-secp256k1/ckb-production-scripts
	url = https://github.com/nervosnetwork/ckb-production-scripts.git
